.Course_desc, .features{
    font-family: 'Poppins';
}


.targetYear{
    margin-right: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #000;
    font-size:large;
}

.targetDrop{
    padding: 5px;
    border-radius: 15px;
    border: 0px solid;
    box-shadow:2px 2px 15px 4px rgba(10, 10, 10, 0.199);
    
}